$whiteSecondary: rgb(163, 159, 159);
%flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container{
    height: 75vh;
    width: 100%;
    position: fixed;
    bottom: 84px;
    background-color: #000;
    padding: 16px 100px;
    box-sizing: border-box;
    // transition: bottom 5s linear;
}
.albumArt{
    float: left;
    img{
        width: 400px;
    }
}
.songQueue{
    float: left;
    color: #fff;
    margin-left: 100px;
    box-sizing: border-box;
    padding: 0 24px;
    label{
        border-bottom: 0.5px solid $whiteSecondary;
        display: block;
        width: 100%;
        margin-bottom: 8px;
        line-height: 24px;
        font-size: 14px;
        box-sizing: border-box;
    }
    .queueContainer{
        max-height: 60vh;
        overflow: hidden;
    }
    .queueContainer:hover{
        overflow-y: scroll;
    }
    .albumCover{
        position: relative;
        @extend %flex-row-center;
        img.playing{
            opacity: 0.6;
        }
        .volumeIcon{
            position: absolute;
        }
    }
}

.song{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    cursor: pointer;
    .songInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        margin-left: 16px;
        .title{
            color: #fff;
        }
        .artistName{
            color: whiteSecondary;
        }
    }
}