%flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 16px 60px;
    box-sizing: border-box;
    .songList{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .song{
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            
        
            .songInfo{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 13px;
                color: #fff;
                .songName{
                    white-space: nowrap; 
                    width: 195px; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

        }
    }
}
.songImage{
    height: 190px;
    width: 195px;
    position: relative;
    margin-bottom: 8px;
    border-radius: 4px;
    @extend %flex-row-center;
    cursor: pointer;
    .playButton{
        display: none;
    }
}
.songImage:hover .playButton{
    display: inline-block;
}
.songImage:hover, .songImage.playing{
    opacity: 0.8;
    .playButton{
        display: inline-block;
    }
}
.noSongFound{
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

@media(max-width: 767px){
    .songImage{
        height: 190px;
        width: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}